In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('C:\\Users\\programirovanie\\SF_Project1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1530,tt0429591,12000000,23006849,Aquamarine,Emma Roberts|Joanna 'JoJo' Levesque|Sara Paxto...,Elizabeth Allen Rosenbaum,A Fish-Out-Of-Water Comedy.,Two teenage girls discover that mermaids reall...,104,Fantasy|Romance|Family|Comedy,Fox 2000 Pictures|Storefront Pictures,3/3/2006,5.9,2006
1537,tt0443632,60000000,77920346,The Sentinel,Michael Douglas|Kiefer Sutherland|Eva Longoria...,Clark Johnson,"In 141 years, there's never been a traitor in ...",A secret service agent is framed as the mole i...,108,Action|Thriller|Crime,Twentieth Century Fox Film Corporation|Dune En...,4/19/2006,5.6,2006
1120,tt0314353,70000000,85632458,Tears of the Sun,Bruce Willis|Monica Bellucci|Cole Hauser|Eamon...,Antoine Fuqua,He was trained to follow orders. He became a h...,Navy SEAL Lieutenant A.K. Waters and his elite...,121,Action|Drama|War,Columbia Pictures|Revolution Studios|Cheyenne ...,3/7/2003,6.4,2003
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
631,tt0970416,80000000,233093859,The Day the Earth Stood Still,Keanu Reeves|Jennifer Connelly|Kathy Bates|Jad...,Scott Derrickson,12.12.08 is the Day the Earth Stood Still,A representative of an alien race that went th...,103,Drama|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Dune En...,12/10/2008,5.1,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {
    1 : '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
    2 : '2. Gods and Generals (tt0279111)',
    3 : '3. Winnie the Pooh (tt1449283)',
    4 : '2. 110',
    5 : '1. 107',
    6 : '5. Avatar (tt0499549)',
    7 : '5. The Lone Ranger (tt1210819)',
    8 : '1. 1478',
    9 : '4. The Dark Knight (tt0468569)',
    10 : '5. The Lone Ranger (tt1210819)',
    11 : '3. Drama',
    12 : '1. Drama',
    13 : '5. Peter Jackson',
    14 : '3. Robert Rodriguez',
    15 : '3. Chris Hemsworth ',
    16 : '3. Matt Damon',
    17 : '2. Action',
    18 : '1. K-19: The Widowmaker (tt0267626)',
    19 : '5. 2015',
    20 : '1. 2014',
    21 : '4. Сентябрь',
    22 : '2. 450',
    23 : '5. Peter Jackson',
    24 : '5. Four By Two Productions',
    25 : '3. Midnight Picture Show',
    26 : '1. Inside Out, The Dark Knight, 12 Years a Slave',
    27 : '5. Daniel Radcliffe & Rupert Grint'
           
}  # словарь для ответов

#предобработки:

#Добавиим колонку профит в текущий адтасет
data['profit'] = data['revenue'].sub(data['budget'], axis=0)

#Исключим убыточные фильмы из датасета
data_profit = data[data['profit'] > 0]


def split_genres(genres_df):
    """Функция фонкция возвращает список жанров у 1 фильма"""
    genres = genres_df.split('|') 
    return genres


def mounth_split (date):
    """Функция возвращает месяц из полной даты"""
    date = date.split('/')[0]
    return date


def time_year(m):
    """Функция определяет время года"""
    m = int(m)
    if 3 <= m <= 5:
        return 'spring'
    elif 6 <= m <= 8:
        return 'summer'
    elif 9 <= m <= 11:
        return 'autumn'
    else:
        return 'winter'

    
def word_split(text):
    """Функция возвращает кол-во слов в тексе"""
    text = text.split(" ")
    return len(text)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# В первой ячейке выводим ответ
answers[1]

'5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
# Тут пишем ваш код для решения данного вопроса
# Отсортируем DF по столбцу "Бюджет" по убыванию

data.sort_values(['budget'],ascending=False).head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010,331794936

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers[2]

'2. Gods and Generals (tt0279111)'

In [9]:
data.sort_values(['runtime'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers[3]

'3. Winnie the Pooh (tt1449283)'

In [11]:
data.sort_values(['runtime']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers[4]

'2. 110'

In [13]:
# Обратимся к значениям "runtime" и найдем среднее
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers[5]

'1. 107'

In [15]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers[6]

'5. Avatar (tt0499549)'

In [17]:
data.sort_values(['profit'],ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810

# 7. Какой фильм самый убыточный?

In [18]:
answers[7]

'5. The Lone Ranger (tt1210819)'

In [19]:
data.sort_values(['profit'],ascending=True).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers[8]

'1. 1478'

In [21]:
# Найдем количество фильмов, где показатель profit больше 0
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers[9]

'4. The Dark Knight (tt0468569)'

In [23]:
# Выделим из датафрйма фильмы выпущенные в 2008
# Отсвортируем их по значению profit,выведем только первое значение
data[data['release_year']==2008].sort_values(['profit'],
                                             ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers[10]

'5. The Lone Ranger (tt1210819)'

In [25]:
data.query('2012 <= release_year <= 2014').sort_values(['profit'],
                                                       ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers[11]

'3. Drama'

In [27]:
data_genres = data.copy() # Запишем датафрейм в новую переменную

# В переменную сохраним значения genres
data_genres = data_genres.genres.str.split('|') 
data_genres = data_genres.explode('genres') # Разобьем жанры по отдельности
data_genres.value_counts().head() # Подсчитаем количесво фильмов по жанрам

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

ВАРИАНТ 2

In [28]:
data_genres2 = data.copy()

# Пройдемся по каждому значению 'genres' и применим либда функцию 
data_genres2['genres'] = \
    data_genres2['genres'].apply(lambda x:
                                 str(x).split('|')) # Разделили содержимое 'genres' по "|" 
data_genres2_split = data_genres2.explode('genres') # У каждого жанра фаильма будет своя строка
data_genres2_split['genres'].value_counts().head() # Подсчитаем количесво фильмов по жанрам

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

ВАРИАНТ 3

In [29]:
data_genres3 = data.copy()

# Вместо лямбды функции используем функцию из предобработки
data_genres3['genres'] = data_genres3['genres'].apply(split_genres)
data_genres3_split = data_genres3.explode('genres')
data_genres3_split['genres'].value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers[12]

'1. Drama'

In [31]:
data_genres12 = data_profit.copy()

data_genres12['genres'] = data_genres12['genres'].apply(
    lambda x: str(x).split('|'))
data_genres12_split = data_genres12.explode('genres')
data_genres12_split['genres'].value_counts().head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers[13]

'5. Peter Jackson'

In [33]:
data13 = data.copy()
data13['director'] = data13['director'].apply(split_genres)
data13_split = data13.explode('director')
data13_split.groupby(['director'])['revenue'].sum().sort_values(
    ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers[14]

'3. Robert Rodriguez'

In [35]:
data_action = data[data.genres.str.contains("Action")] # В переменную запишем фильмы с жанром Экшон
data_action = data_action['director'].str.cat(sep='|') # Все значения director соберем в строку
data_action=pd.Series(data_action.split('|')) # Создадим Series разделив по "|"
data_action.value_counts(ascending=False) # Подсчитаем сколько раз встречается каждый актер в нашй серии

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Rob Pritts            1
Donald Petrie         1
John Dahl             1
Denis Villeneuve      1
Joe Russo             1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers[15]

'3. Chris Hemsworth '

In [37]:
data_2012 = data.copy()

data_2012 = data_2012[data['release_year'] == 2012] # Будем работать с новым DF, где только фильмы 2012 года
data_2012['cast'] = data_2012['cast'].apply(
    lambda x: str(x).split('|'))
data_2012_split = data_2012.explode('cast')
# Сгруппируем по каждому актеру, второе значение - кассовые сборы фильмов
data_2012_split.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

*в фильмах, где бюджет выше среднего по данной выборке.

In [38]:
answers[16]

'3. Matt Damon'

In [39]:
data_16 = data.copy()
# Соберем фильмы с бюджетом больше среднего
data_16 = data_16[data_16['budget'] > data_16['budget'].mean()] 
data_16 = data_16['cast'].str.cat(sep = '|')
data_16 = pd.Series(data_16.split('|'))
data_16.value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Jack Reynor           1
Bill Melendez         1
Will Forte            1
Ryan Newman           1
Jeffrey Donovan       1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers[17]

'2. Action'

In [41]:
data_cage = data.copy()
#В новую переменную сохраним фильмы с  Nicolas Cage
data_cage = data_cage[data_cage.cast.str.contains('Nicolas Cage')]
data_cage['genres'] = data_cage['genres'].apply(split_genres) 
data_cage = data_cage.explode('genres')
data_cage['genres'].value_counts().head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers[18]

'1. K-19: The Widowmaker (tt0267626)'

In [43]:
data_paramount = data[data.production_companies
                      .str.contains("Paramount Pictures")] # DF с фильмами от парамаунт
data_paramount.sort_values('profit').head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers[19]

'5. 2015'

In [45]:
# Сгрупируем DF по дате релиза и ссумируем сборы фильмов
data.groupby(['release_year'])['revenue'].sum().sort_values(
    ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers[20]

'1. 2014'

In [47]:
# Новый DF с фильмами от варнер
data_warner = data[data.production_companies
                  .str.contains("Warner Bros")]
data_warner.groupby(['release_year'])['profit'].sum().sort_values(
    ascending=False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers[21]

'4. Сентябрь'

In [49]:
# Добавим новый стобец в data "Месяца"
# С помощью функции выведем месяц из даты релиза
data['mounth'] = data['release_date'].apply(mounth_split)

data.value_counts('mounth', ascending=False)

mounth
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers[22]

'2. 450'

In [51]:
data['season'] = data['mounth'].apply(time_year) # Новая колонка
data['season'].value_counts() # Подсчитаем показатели каждого значения

autumn    559
summer    450
spring    445
winter    435
Name: season, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers[23]

'5. Peter Jackson'

In [53]:
data_winter = data.copy()

data_winter = data_winter[data_winter['season'] == 'winter'] # Переменная с зимними фильмами
data_winter['director'] = data_winter['director'].apply(lambda x:
                                                        str(x).split('|')) 
data_winter_split = data_winter.explode('director')
data_winter_split['director'].value_counts().head()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers[24]

'5. Four By Two Productions'

In [55]:
data24 = data.copy()
data24['production_companies'] = data24['production_companies'].apply(lambda x:
                                                                      str(x).split('|'))
data24_split = data24.explode('production_companies') # Новый датафрейм, где каждая строка имеет одну студию
data24_split['title_len'] = data24_split['original_title'].map(lambda s:
                                                               len(s)) # Сохраним в новый столбец
#data24_split.groupby(['production_companies'])['title_len'].mean().sort_values(
#    ascending=False)
data24_split

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,mounth,season,title_len
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,6.5,2015,1363528810,6,summer,14
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,6.5,2015,1363528810,6,summer,14
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,6.5,2015,1363528810,6,summer,14
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,6.5,2015,1363528810,6,summer,14
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,6.5,2015,1363528810,6,summer,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,5.2,2000,-3962091,2,winter,10
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,5.2,2000,-3962091,2,winter,10
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,5.2,2000,-3962091,2,winter,10
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,5.2,2000,-3962091,2,winter,10
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502,7,summer,12

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers[25]

'3. Midnight Picture Show'

In [57]:
data25 = data.copy()

data25['production_companies'] = data25['production_companies'].apply(lambda x:
                                                                      str(x).split('|'))
data25_split = data25.explode('production_companies')
data25_split['word_in_name'] = data25_split['overview'].apply(word_split)
data25_split.groupby(['production_companies'])['word_in_name'].mean().sort_values(
    ascending=False)

production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: word_in_name, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers[26]

'1. Inside Out, The Dark Knight, 12 Years a Slave'

In [59]:
data26 = data.copy()
procent_99 = np.percentile(data26.vote_average, 99) #Найдем показатель 99%
data26[data26.vote_average >= procent_99].sort_values(
    by='vote_average', ascending=False)[['original_title', 'vote_average']] #Выведем искомый 1%

                                         original_title  vote_average
599                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
118                                        Interstellar           8.0
125                                  The Imitation Game           8.0
370                                           Inception           7.9
1191                                   12 Years a Slave           7.9
1183                            The Wolf of Wall Street           7.9
1081      The Lord of the Rings: The Return of the King           7.9
872                                         The Pianist           7.9
1800                                            Memento           7.9
119                             Guardians of the Galaxy           7.9
138                            The Grand Budapest Hotel           7.9
128                                           Gone Girl           7.9
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
1213                                 Dallas Buyers Club           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
28                                            Spotlight           7.8
177                              The Fault in Our Stars           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
answers[27]

'5. Daniel Radcliffe & Rupert Grint'

In [61]:
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
cast_pairs.cast = cast_pairs.cast.apply(
    lambda x: list(combinations(sorted(x), 2))) #Найдем совпадения
cast_pairs.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

ВАРИАНТ 2

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers[5]

'1. 107'

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27